extends ../layouts/default

block content
	.container-fluid.pad-30 
		//- img(src='/images/profile.png', width='180')
		h1 Graeme Fulton <script src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/MemberProfile" data-id="https://www.linkedin.com/pub/graeme-fulton/53/89b/988" data-format="hover" data-related="false"></script>
		p Designer & Front-end developer @IBM
		p MSc Computer Science
		br
		h4 I write: 
		ul
			li 
				a(href = '/writings/tutorials') tutorials 	
			li
				a(href='/writings/articles') articles
		