extends ../layouts/default

block head
	title= title || 'GF Design | Development'

block content
	.container: .jumbotron
		img(src='/images/profile.png', width='120', style='border-radius:150px!important;')
		h1 Graeme Fulton
		p(style="font-family:'Merriweather Sans'; font-weight:600; font-size:23px;") Front-end developer and designer
		p Currently @ IBM
		p MSc Computer Science
		//- hr
		a(href='/pages/') About me
		//- hr
