extends ../layouts/default

block content
	.container-fluid.pad-30 
		//- img(src='/images/profile.png', width='180')
		h1 Graeme Fulton
		p Designer & Front-end developer @IBM
		p MSc Computer Science
		br
		h4 I write: 
		ul
			li 
				a(href = '/writings/tutorials') tutorials 	
			li
				a(href='/writings/articles') articles

