extends ../layouts/default

block head
	title= title || 'GF Design | Development'

block content
	.container: .jumbotron
		img(src='/images/profile.png', width='120', style='border-radius:150px!important;')
		h1 Graeme Fulton
		p(style="font-family:'Merriweather Sans'; font-weight:600; font-size:23px;") Front-end developer and designer
		//- hr
		p I write <a href="/writings">tutorials </a> and <a href= "/projects">make stuff</a>
		<a href="https://github.com/GraemeFulton" target="_blank"> <img src='/images/git.png' width='38' style='margin-right:5px'></a>
		<a href="https://uk.linkedin.com/pub/graeme-fulton/53/89b/988" target="_blank"><img src='/images/linkedin.png' width='40' style='margin-right:5px'></a>
		<a href="https://twitter.com/graeme_fulton" target="_blank"><img src='/images/twitter.png' width='40'></a>		
		//- hr
