extends ../layouts/default

block content

	link(href="/styles/syntaxhighlighter/shThemeDefault.css", rel="stylesheet")

	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/writings') &larr; back to the writings
			hr
			if data.post.image.exists
				.image-wrap: img(data-original='/post/single/'+data.post.image.filename).img-responsive.lazy
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h4.light-weight Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/writings/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.post
					!= data.post.content.full

//- Include template-specific javascript files by extending the js block
block js
	script(src='/js/lib/syntaxhighlighter/shCore.js')
	script(src='/js/lib/syntaxhighlighter/shAutoloader.js')
	script(src='/js/lib/syntaxhighlighter/shBrushXML.js')
	script(src='/js/lib/syntaxhighlighter/shBrushJScript.js')
	script(src='/js/lib/syntaxhighlighter/shBrushPHP.js')
	<script type="text/javascript">SyntaxHighlighter.all()</script>
	<script>$('img.lazy').load(function() { var h= $('img.lazy').height(); $('.image-wrap').css("height", h); }); $(window).resize(function() {if(this.resizeTO) clearTimeout(this.resizeTO);this.resizeTO = setTimeout(function() {$(this).trigger('resizeEnd');}, 500);});$(window).bind('resizeEnd', function() {var h= $('.img-responsive.lazy').height(); $('.image-wrap').css("height", h); });</script>