extends ../layouts/default

block content

	<link href="http://alexgorbatchev.com/pub/sh/current/styles/shThemeDefault.css" rel="stylesheet" type="text/css" />

	.container: .row: .col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
		article
			p: a(href='/writings') &larr; back to the writings
			hr
			if data.post.image.exists
				.image-wrap: img(data-original='/post/single/'+data.post.image.filename).img-responsive.lazy
			if !data.post
				h2 Invalid Post.
			else
				header
					h1= data.post.title
					h4.light-weight Posted 
						if data.post.publishedDate
							| on #{data.post._.publishedDate.format('MMMM Do, YYYY')} 
						if data.post.categories && data.post.categories.length
							| in 
							each cat, cat_i in data.post.categories
								a(href='/writings/' + cat.key)= cat.name
								if cat_i < data.post.categories.length - 1
									| , 
								else
									|  
						if data.post.author
							| by #{data.post.author.name.first}
				.post
					!= data.post.content.full

//- Include template-specific javascript files by extending the js block
block js
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shCore.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shAutoloader.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushJScript.js" type="text/javascript"></script>
	<script src="http://alexgorbatchev.com/pub/sh/current/scripts/shBrushPHP.js" type="text/javascript"></script>

	<script type="text/javascript">SyntaxHighlighter.all()</script>
	<script>
	$('img.lazy').load(function() {var h= $(this).height(); $('.image-wrap').css("height", h); });
	</script>