#footer {
	margin-top: 30px;
	border-top: 1px solid $gray-lighter;
	padding-top: 30px;
	color: $gray-light;
}

.gallery-image img{
    display: block;
    max-width: 100%;
    height: auto;
}

.nopad{
	padding:0px;
}

.post{
	clear:both;
	margin-top:10px;
}

.imgcontainer{
  height: 150px;
  overflow: hidden;
  margin-bottom:15px;
  margin-top:-7px;
	.img{
		max-width:100%;
	}	

}

.pad-30{
	padding:30px;
	padding-top:5px;
}
